.DS_Store
.idea/
apps/.DS_Store
apps/detail/.DS_Store
apps/frontend/.DS_Store
apps/product_catalog/.DS_Store
apps/frontend/.idea/
apps/frontend/public/.DS_Store
flagger/.DS_Store
apps/detail/node_modules/
apps/detail/output.log
apps/frontend/node_modules/
apps/product_catalog/__pycache__/